# Map() Function

- map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [1]:
def square(x):
    return x*x
numbers = [1,2,3,4,5]
result = map(square, numbers)
print(list(result))

[1, 4, 9, 16, 25]

In [2]:
# Double all numbers using map and lambda
numbers = [1,2,3,4,5]
result = map(lambda x: x * x, numbers)
print(list(result))

[1, 4, 9, 16, 25]

In [3]:
# Adding two lists using map and lambda

a = [1,2,3,4,5]
b = [6,7,8,9,10]

result = map(lambda x,y: x+y, a, b)
print(list(result))

[7, 9, 11, 13, 15]

In [4]:
a = ['Nisha', 'Garima']
# map() can listify the list of strings individually
result = list(map(list,a))
print(result)

[['N', 'i', 's', 'h', 'a'], ['G', 'a', 'r', 'i', 'm', 'a']]

In [5]:
# Define a function that doubles even numbers and leaves odd numbers as it is
def double(x):
    if (x%2 == 0):
        return x*2
    else:
        return x
l1 = (1,2,3,4,5,6,7,8,9)
result = list(map(double,l1))
print(result)

[1, 4, 3, 8, 5, 12, 7, 16, 9]

# Filter Function

In [6]:
def even(num):
    if num%2==0:
        return True

lst = [1,2,3,4,5,6,7,8,9]
result = list(filter(even,lst))
print(result)

[2, 4, 6, 8]

In [7]:
lst1 = [10,11,12,13,14,15,16,17,18,19]
list(filter(lambda x:x%2==0,lst1))

[10, 12, 14, 16, 18]

In [8]:
list(map(lambda x:x%2==0,lst1))

[True, False, True, False, True, False, True, False, True, False]

# Python Arrays

- Python does not have built-in support for Arrays, but Python Lists can be used instead.

In [9]:
fruits = ["Apple", "Orange", "Mango"]
print(fruits[0])

Apple

In [10]:
x = len(fruits)
print(x)

3

In [11]:
fruits.append("Papaya")
print(fruits)

['Apple', 'Orange', 'Mango', 'Papaya']

In [12]:
fruits[0] = "Watermelon"
print(fruits)

['Watermelon', 'Orange', 'Mango', 'Papaya']

In [13]:
## Looping the array elements
## You can use the for in loop to loop through all the elements of an array.
for x in fruits:
    print(x)

Watermelon
Orange
Mango
Papaya

In [14]:
fruits.pop(1)
print(fruits)

['Watermelon', 'Mango', 'Papaya']

In [15]:
fruits.remove("Mango")
print(fruits)

['Watermelon', 'Papaya']

# Array Methods

## Python has a set of built-in methods that we can use on lists/arrays.

- append() Adds an element at the end of the list
- clear() Removes all the elements from the list
- copy() Returns a copy of the list
- count() Returns the number of elements with the specified value
- extend() Add the elements of a list (or any iterable), to the end of the current list
- index() Returns the index of the first element with the specified value
- insert() Adds an element at the specified position
- pop() Removes the element at the specified position
- remove() Removes the first item with the specified value
- reverse() Reverses the order of the list
- sort() Sorts the list

# Python Class and Objects

- Python is an object oriented programming language.
- A Class is like an object constructor, or a "blueprint" for creating objects.

In [16]:
# Creating Class
class Myclass:
    x=10

In [17]:
# Create Object
p1 = Myclass()
print(p1.x)

10

# The __init__() Function

In [18]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("Nisha", 23)

print(p1.name)
print(p1.age)

Nisha
23

# The __str__() Function

In [19]:
# The string representation of an object WITHOUT the __str__() function:
class Person:
    def __init__(self,name,age):
        self.name =name
        self.age = age
        
p1 = Person("Garima", 20)
print(p1)

<__main__.Person object at 0x00000288BC6303D0>

In [20]:
# The string representation of an object WITH the __str__() function:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"{self.name}({self.age})"
    
p1 = Person("Harry", 24)
print(p1)

Harry(24)

# Object Methods

In [21]:
class concat:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def myfun(self):
        print(self.a+self.b)
a = concat("23","44")
a.myfun()

2344

# The self Parameter

- The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.
- It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [22]:
class Person:
  def __init__(myobject, name, age):
    myobject.name = name
    myobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name + "and age is " + str(abc.age))

p1 = Person("John", 36)
p1.myfunc()

Hello my name is Johnand age is 36

# Modify Object Properties

In [23]:
p1.age = 40

In [24]:
p1.myfunc()

Hello my name is Johnand age is 40

# Delete Object Properties

In [25]:
del p1.age

In [26]:
p1.myfunc()

AttributeError: 'Person' object has no attribute 'age'

# Delete Objects

In [27]:
del p1

# The pass Statement

- class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [28]:
class Person:
  pass